
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: #4CAF50;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background-color: #4CAF50;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    width: 24px;
    height: 24px;
    background-color: #4CAF50;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
